{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
    <title>CRUDL Express Example (GraphQL)</title>
    <link href="{% static 'crudl/static/stylesheets/crudl.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'crudl/static/stylesheets/reactselect.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="crudl-root"></div>
    <script src="{% static 'crudl/crudl.js'%}"></script>
    <script src="{% static 'crudl-admin-graphql/js/admin.js'%}"></script>
</body>
</html>
